<% content_for :title do %>Black Hole Newsletter!<% end %>
<% content_for :description do %>Website for the Black Hole Newsletter<% end %>
<section>
  <%= image_tag 'black_hole.jpg' %>
</section>
<section>
  <div class="column">
    <h3>Stay in touch. Sign up to the black hole newsletter!</h3>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, placeholder: 'Your email address...', autofocus: true %>
        <br/>
        <br/>
        <%= f.button :submit, 'Sign up for the newsletter', class: 'submit' %>
      <% end %>
    </div>
  </div>
</section>